/*
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++
*/

* {
  font-style: none;

  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "work sans", verdana;

  color: #212529;
  background-color: #e9fdf5;

  border-bottom: 0.5rem solid #7df4c2;
}

h4 {
  font-size: 5.2rem;
}

button {
  color: #212529;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: #212529;
}
