/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.index-main {
  padding: 0px 38px;
}

.main-header {
  font-size: 2.4rem;

  background-color: #d7fcec;

  padding-top: 1.3rem;
  padding-bottom: 7.65rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.logo-box {
  width: 28rem;

  font-family: verdana;
  font-size: 5.2rem;

  background-color: #a1f7d3;

  padding: 0.5rem;
  padding-right: 1.5rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: flex;
  align-items: baseline;

  cursor: pointer;
}

.logo-box--index {
  cursor: default;
}

.logo-box--index:hover {
  cursor: pointer;
}

#logo-a {
  font-size: 2.6rem;
}
#logo-b {
  font-size: 3.2rem;
}
#logo-c {
  font-size: 3.8rem;
}

.button-area {
  width: 100%;
  
  display: flex;
  justify-content: space-around;
}


.main-header-buttons {
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;
  
  text-align: center;
  padding: 1rem;
  
  display: inline-block;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.main-header-buttons:hover {
  background-color: #22ec98;

  transition: 0.3s;
}

#sign-up-button {
  background-color: #f47dae;
}

#sign-up-button:hover {
  background-color: #22ec98;
}

.about-button:link,
.about-button:visited {
  height: 3.4rem;
  translate: 0rem 4.7rem;

  font-weight: 700;
  
  background-color: #fde9f1;

  padding: 0rem 1rem 1rem 1rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  cursor: pointer;
}

.about-button:hover,
.about-button:active {
  background-color: #22ec98;

  transition: 0.3s;
}

.sticky {
  width: 100%;
  height: 1rem;
  top: 0;
  position: fixed;
  z-index: 999;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

.hero {
  margin-top: 19rem;
  margin-bottom: 9rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.graphics-pic {
  max-width: 67rem;
  max-height: 36rem;
  
  object-fit: contain;
  margin-top: 4rem;
  translate: 2rem 1rem;
}

.hero-right-box {
  max-width: 50rem;

  font-size: 5.2rem;
  
  background-color: #a1f7d3;
  
  line-height: 7rem;
  padding: 2rem 0rem 2rem 5rem;
  margin-left: 1.1rem;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  transition: all 0.3s;
}

.hero-below-section {
  height: 33rem;
  position: relative;

  margin-top: 5rem;

  display: flex;
  justify-content: center;
}

.hero-below-section::after {
  content: "...or create new goals!";

  right: 1%;
  position: absolute;
  transform: rotate(12deg);

  background-color:rgb(247, 247, 89);
  
  font-size: 4rem;
  
  padding: 0rem 1rem;
  
  border: 0.3rem solid;
}

.square {
  width: 8px;
  height: 8px;
  
  background-color: #212529;
}

.hero-right-box:hover {
  transform: translateY(-1rem);
  
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

.hero-below-table {
  width: 100%;

  font-size: 3rem;

  background-color: #fac5db;

  margin-right: 5rem;
  padding-bottom: 2rem;
  margin-left: 4rem;

  border: 0.4rem solid;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  
  transition: all 0.3s;
}

.hero-below-table-title {
  font-size: 6.2rem;
  font-weight: 500;
  
  margin-bottom: 2rem;
  
  grid-column: 1 / span 3;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 2rem;
}

.table-item {
  translate: -1rem;
  
  padding: -1rem 1rem;
  
  display: flex;
  align-items: center;
}

.table-item-a {
  transition: all 0.1s;
}

.table-item-a:hover {
  rotate: 3grad;
}

.table-item-b {
  transition: all 0.1s;
}

.table-item-b:hover {
  rotate: -3grad;
}

.icon {
  height: 4rem;
  width: 4rem;
  
  flex-shrink: 0;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& IMAGES */

.images-section-container {
  max-width: 100%;

  margin-top: 8rem;
  margin-bottom: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.activities-imgs {
  max-width: 100%;
  max-height: 100%;
  
  object-fit: contain;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  
  transition: all 0.2s;
}

.activities-imgs:hover {
  transform: translateY(-1rem);
  
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& POST HERO */

.post-hero-title-container {
  font-size: 3rem;

  line-height: 10rem;
  text-align: center;
}

.post-hero-title {
  font-size: 3.6rem;
}

.arrow {
  font-size: 4rem;
  
  text-align: center;
  margin-bottom: 2rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HOW TO LISTS */

.how-to-lists-section-container {
  font-size: 2.4rem;

  display: flex;
  gap: 3rem;
}

.how-to-lists-container {
  width: 100%;
  
  font-size: 3.6rem;
  
  background-color: #b3f8dc;
  
  padding: 3rem 0rem 3rem 0rem;
  margin-bottom: 3.2rem;
  
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
  transition: all 0.3s;
}

.how-to-lists-container:hover {
  transform: translateY(-1.5rem);
  
  box-shadow: 1.2rem 1.2rem rgba(0, 0, 0, 0.705);
}

.how-to-lists-container:hover .list-icon {
  transform: rotate(360deg);
  
  transition: all 0.3s;
}

.list-lines-container {
  margin-bottom: 2rem;
  margin-left: 3rem;
  
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.list-individual-lines {
  display: flex;
  gap: 1rem;
}

.how-to-lists-container h4 {
  margin-bottom: 1rem;
  
  align-self: center;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& CAROUSEL */

.carousel-container {
  max-width: 120rem;
  height: 40rem;
  position: relative;
  
  background-color: #f7a1c5;
  
  padding: 3.2rem;
  margin: 10rem auto;
  margin-bottom: 5.6rem;
  
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.5rem;
  
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-img {
  max-width: 45rem;
  height: 45rem;
  
  margin: 1rem 4rem;
  
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  transition: all 0.2s;
}

.testimonial-img:hover {
  transform: translateY(-1rem);
  
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

.testimonial-text {
  font-size: 3.6rem;
  font-weight: 500;
  
  line-height: 5rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.testimonial-name {
  font-size: 2rem;
  font-weight: 700;
  
  margin-bottom: 0.4rem;
}
.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
}

.carousel-button {
  height: 5rem;
  width: 5rem;
  position: absolute;
  
  background-color: #7df4c2;
  
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.carousel-button:hover {
  background-color: #22ec98;
}

.carousel-button-left {
  left: 0;
  
  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;
  
  transform: translate(50%);
}

.carousel-dots-container {
  margin-bottom: 6.4rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.carousel-dot {
  width: 1.4rem;
  height: 1.4rem;
  
  background-color: #f7a1c5;
  
  border: 0.3rem solid;
  
  cursor: pointer;
}

.selected-dot {
  width: 1.6rem;
  height: 1.6rem;
  
  background-color: #22ec98;

  transition: all 0.2s;
}

.ready-button-container {
  text-align: center;
  margin-bottom: 8rem;
}

.ready-button {
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;

  background-color: #7df4c2;
  
  padding: 1rem;
  
  border: 0.4rem solid;
  box-shadow: 1rem 1rem;

}

.ready-button:hover {
  background-color:#f7a1c5;
  
  cursor: pointer;
}

/* JS UTILITIES */
.hide-carousel {
  display: none;

  transform: translate(50px);
} 