.login-form-cont {
  top: -1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  position: absolute;
  transition: all 0.3s ease-in;
}

.signup-form-cont {
  top: -1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  position: absolute;
  transition: all 0.3s ease-in;
}

.cta-open {
  transition: all 0.3s ease-in;
  margin-top: 0rem;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  /* background-color: #212529; */
  width: 100%;
  padding-bottom: 10rem;
  position: fixed;
  margin-top: 20rem;
}

.cta-open-below {
  transition: all 0.3s ease-in;
  margin-top: 0rem;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  transform: translatey(370%);

  /* background-color: #212529; */
  width: 100%;
  padding-bottom: 10rem;
}

.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease-in;

}

.sign-up-form {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin: auto auto;
  width: 42rem;
  background-color: #f7a1c5;
  border: 0.4rem solid;
  box-shadow: 0.7rem 0.7rem;
  font-size: 3.2rem;
  font-weight: 500;
}

.sign-up-form-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10rem;
  width: 100%;
  background-color: #f7a1c5;
  border: 0.4rem solid;
  box-shadow: 0.7rem 0.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  height: 40rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 20%;
  gap: 1rem;
}

.sign-up-alert {
  font-size: 1.5rem;
}

.dummy-margin {
  margin-top: 10rem;
}

.form-button {
  font-size: 2rem;
  font-weight: 700;
  background-color: #c5fae4;
  border: 0.2rem solid;
  box-shadow: 0.4rem 0.4rem;
  width: 20rem;
  padding: 1rem 1rem;
  margin: 3.4rem auto 2rem auto;
}

.alert-container {
  margin-top: 3rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.form-alert {
  font-size: 2rem;
  align-self: center;
}

.form-signup-btn {
  background-color:#f3619e;
  margin-bottom: 5rem;
}

.form-button:hover {
  transform: translate(0rem, 0.3rem);
  box-shadow: none;
}

.form-goals-grid {
  margin-top: 1rem;
  border: 1px solid;
  font-size: 1.9rem;
  font-weight: 100;
  color: rgb(55, 55, 55);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-collapse: collapse;
  margin-right: -14%;
  background-color: #c5fae4;
}

.form-goals-grid div {
  display: flex;
  justify-content: center;
  /* border: 1px dashed; */
  padding: 2rem 0rem;
}

.form-goals-grid div:hover {
  background-color: #7df4c2;
  cursor: pointer;
  box-shadow: 0 0 0 1px #000;
  color: black;
}

.new-goal-cell {
  color: #212529;
  background-color: #c5fae4;
  grid-column: 1 /4;
  box-shadow: 0 0 0 1.2px #000;
  border-collapse: collapse;
  height: 1rem;
  align-items: center;
  background-color: #f58fb9  !important;
}
.new-goal-cell:hover {
  color: #000;
  cursor: pointer;
  /* text-decoration: underline; */
  background-color: #f3619e !important;
}

input {
  background-color: #c5fae4;
  padding: 1rem 1rem;
}

select {
  font-size: 1.5rem;
  background-color: #c5fae4;
  padding: 1rem 1rem;
}

/* label {
  text-align: center;
} */

/* BACKGROUND
#e9fdf5
SUPER LIGHT
#d7fcec
LIGHT
#c5fae4
MEDIUM-LIGHT
#b3f8dc
MEDIUM
#a1f7d3
HARD
#7df4c2
TOP HARD
#59f1b2
DEATH STRONG
#22ec98 */

/* BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5
X
#f58fb9
HARD
#f47dae
TOP HARD
DEATH STRONG */
