/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.index-main {
  padding: 0px 38px;
}

.main-header {
  font-size: 2.4rem;

  background-color: #d7fcec;

  padding-top: 1.3rem;
  padding-bottom: 7.65rem;

  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.logo-box {
  width: 28rem;
  font-family: verdana;
  font-size: 5.2rem;

  background-color: #a1f7d3;

  padding: 0.5rem;
  padding-right: 1.5rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: flex;
  align-items: baseline;

  cursor: pointer;
}

.logo-box--index {
  cursor: default;
}

.logo-box--index:hover {
  cursor: pointer;
}

#logo-a {
  font-size: 2.6rem;
}
#logo-b {
  font-size: 3.2rem;
}
#logo-c {
  font-size: 3.8rem;
}

.button-area {
  /* max-width: 400rem; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.main-header-buttons {
  text-align: center;
  display: inline-block;

  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.main-header-buttons:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

#sign-up-button {
  background-color: #f47dae;
}

#sign-up-button:hover {
  background-color: #22ec98;
}

.about-button:link,
.about-button:visited {
  height: 3.4rem;

  font-weight: 700;
  
  background-color: #fde9f1;

  padding: 0rem 1rem 1rem 1rem;
  /* margin-right: 6rem; */

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  cursor: pointer;

  translate: 0rem 4.7rem;
}

.about-button:hover,
.about-button:active {
  background-color: #22ec98;

  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 1rem;
  /* border-bottom: 0.2rem solid; */
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

.hero {
  /* max-height: 410rem; */

  margin-top: 19rem;
  margin-bottom: 9rem;

  display: flex;
  justify-content: center;
}

.graphics-pic {
  translate: 0rem 2rem;
  max-width: 50%;
  object-fit:contain;
}

.hero-right-box {
  max-width: 50rem;
  /* height: 100%; */

  font-size: 5.2rem;
  line-height: 7rem;

  background-color: #a1f7d3;

  padding: 2rem 0rem 2rem 5rem;

  margin-left: 1rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  transition: all 0.3s;
}

.hero2 {
  height: 33rem;

  margin-top: 5rem;

  display: flex;
  justify-content: center;
  /* gap: 15rem; */
  position: relative;
}

.hero2::after {
  content: "...or create new goals!";
  position: absolute;
  right: 1%;
  /* bottom: 1%; */
  font-size: 4rem;
  transform: rotate(12deg);
  background-color:rgb(247, 247, 89);
  border: 0.3rem solid;
  padding: 0rem 1rem;
}

.square {
  background-color: #212529;
  height: 8px;
  width: 8px;
}

.hero-right-box:hover {
  transform: translateY(-1rem);
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

.hero-below-table {
  width: 100%;

  font-size: 3rem;

  background-color: #fac5db;

  margin-left: 4rem;
  margin-right: 5rem;
  padding-bottom: 2rem;

  border: 0.4rem solid;
  /* box-shadow: 0.7rem 0.7rem; */

  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.3s;
}

/* .hero-below-table:hover {
  transform: translateY(-1rem);
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);

} */

.hero-below-table-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 6.2rem;
  font-weight: 500;

  justify-self: center;
  grid-column: 1 / span 3;
  margin-bottom: 2rem;
}

.table-item {
  display: flex;
  align-items: center;
  translate: -1rem;
  padding: -1rem 1rem;
}

.table-item-a {
  transition: all 0.1s;
}

.table-item-a:hover {
  rotate: 3grad;
}

.table-item-b {
  transition: all 0.1s;
}

.table-item-b:hover {
  rotate: -3grad;
}



.icon {
  height: 4rem;
  width: 4rem;
  flex-shrink: 0;
  /* translate: 0.2rem 0.8rem; */
}



/* &&&&&&&&&&&&&&&&&&&&&&&&& IMAGES */

.image-container {
  margin-top: 8rem;
  margin-bottom: 5rem;

  display: flex;
  justify-content: space-around;

  /* max-width: 50%; */
  /* object-fit:contain; */
}

.activities-imgs {
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  transition: all 0.2s;
  max-width: 32%;
  height: 90%;
  /* object-fit:contain;
  flex-shrink: 1; */
}

.activities-imgs:hover {
  transform: translateY(-1rem);
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);

}

/* &&&&&&&&&&&&&&&&&&&&&&&&& POST HERO */
.post-hero-title-container {
  font-size: 3rem;
  text-align: center;
  line-height: 10rem;
}

.post-hero-title {
  font-size: 3.6rem;
}

.arrow {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HOW TO LISTS */

.how-to-lists-section-container {
  font-size: 2.4rem;

  /* margin: 0rem 6rem 5rem 6rem; */

  display: flex;
  gap: 3rem;
}

.how-to-lists-container {
  width: 100%;
  
  font-size: 3.6rem;
  
  background-color: #b3f8dc;
  
  padding: 3rem 0rem 3rem 0rem;
  
  margin-bottom: 3.2rem;
  
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s;
}

.how-to-lists-container:hover {
  transform: translateY(-1.5rem);
  box-shadow: 1.2rem 1.2rem rgba(0, 0, 0, 0.705);
}

.how-to-lists-container:hover .list-icon {
  transition: all 0.3s;
  transform: rotate(360deg);
}

/* .list-icon {
  transform: rotate(30deg);
} */

.list-lines-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.list-individual-lines {
  display: flex;
  gap: 1rem;
}

/* .how-to-lists-container div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1rem;
} */

.how-to-lists-container h4 {
  align-self: center;
  margin-bottom: 1rem;
}

/* .how-to-lists-container p {
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
} */


/* &&&&&&&&&&&&&&&&&&&&&&&&& CAROUSEL */


.carousel-container {
  background-color: #f7a1c5;
  max-width: 120rem;
  height: 40rem;
  margin: 10rem auto;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.5rem;
  position: relative;
  margin-bottom: 5.6rem;
}

.testimonial-img {
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  transition: all 0.2s;
  height: 45rem;
  margin: 1rem 4rem;
}

.testimonial-img:hover {
  transform: translateY(-1rem);
  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

.testimonial-text {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-right: 3rem;
  line-height: 5rem;
}

.testimonial-name {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}
.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
}

.carousel-button {
  height: 5rem;
  width: 5rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  position: absolute;
  background-color: #7df4c2;
}

.carousel-button:hover {
  background-color: #22ec98;
}

.carousel-button-left {
  left: 0;
  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;
  transform: translate(50%);
}

.carousel-dots-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 6.4rem;
  align-items: center;
}

.carousel-dot {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #f7a1c5;
  border: 0.3rem solid;
  cursor: pointer;
}

.selected-dot {
  background-color: #22ec98;
  width: 1.6rem;
  height: 1.6rem;
}

.ready-button-container {
  text-align: center;
  margin-bottom: 8rem;
}

.ready-button {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.4rem solid;
  box-shadow: 1rem 1rem;

  background-color: #7df4c2;
}

.ready-button:hover {
  background-color:#f7a1c5;
  transform: translateY(-1.5rem);
  cursor: pointer;
}