/*
FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98

WHITE SPACE SCALE
2 4 8 12 16 24 32 48 64 80 96 128
 

TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4
BACKGROUND
#e9fdf5
SUPER LIGHT
#d7fcec
LIGHT
#c5fae4
MEDIUM-LIGHT
#b3f8dc
MEDIUM
#a1f7d3
HARD
#7df4c2
TOP HARD
#59f1b2
DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db
BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5
X
#f58fb9
HARD
#f47dae
TOP HARD
DEATH STRONG

BACKGROUND
SUPER LIGHT
LIGHT
MEDIUM-LIGHT
MEDIUM
HARD
TOP HARD
DEATH STRONG


/*
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
*/

/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.main-header {
  font-size: 2.4rem;

  background-color: #d7fcec;

  padding-top: 2.4rem;
  padding-bottom: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-box {
  font-family: verdana;
  font-size: 5.2rem;

  background-color: #a1f7d3;

  padding: 0.5rem;
  padding-right: 1.5rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: flex;
  align-items: baseline;

  cursor: pointer;
}

.logo-box--index {
  cursor: default;
}

#logo-a {
  font-size: 2.6rem;
}
#logo-b {
  font-size: 3.2rem;
}
#logo-c {
  font-size: 3.8rem;
}

#button-area {
  display: flex;

  justify-content: space-between;
  gap: 10rem;

  translate: 18rem 0rem;
}

.main-header-buttons:link,
.main-header-buttons:visited {
  display: inline-block;

  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.main-header-buttons:hover,
.main-header-buttons:active {
  background-color: #22ec98;
  transition: 0.3s;
}

#sign-up-button:link,
#sign-up-button:visited {
  background-color: #f47dae;
}

#sign-up-button:hover,
#sign-up-button:active {
  background-color: #22ec98;
}

.about-button:link,
.about-button:visited {
  height: 3.4rem;

  font-weight: 700;
  
  background-color: #fde9f1;

  padding: 0rem 1rem 1rem 1rem;
  margin-right: 6rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  cursor: pointer;

  translate: 0rem 6.5rem;
}

.about-button:hover,
.about-button:active {
  background-color: #22ec98;

  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

#graphics-pic {
  translate: 0rem 2rem;
}

.hero {
  height: 41rem;

  margin-top: 9.6rem;
  margin-bottom: 9rem;

  display: flex;
  justify-content: center;
}

.hero2 {
  height: 33rem;

  margin-top: 5rem;

  display: flex;
  justify-content: center;
  gap: 15rem;
}

#hero-right-box {
  width: 50rem;

  font-size: 5.2rem;
  line-height: 7rem;

  background-color: #a1f7d3;

  padding: 2rem 0rem 2rem 5rem;

  margin-left: 1rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
}

#hero-below-table {
  width: 100%;

  font-size: 3rem;

  background-color: #fac5db;

  padding-top: 2.5rem;
  margin-left: 4rem;
  margin-right: 5rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

#hero-below-table-title {
  font-size: 6.2rem;
  font-weight: 500;

  justify-self: center;
  grid-column: 1 / span 3;
}

.icon {
  height: 4rem;

  translate: 0.2rem 0.8rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& IMAGES */

#imageContainer {
  height: 28rem;

  margin-top: 8rem;

  display: flex;
  justify-content: space-around;
}

.imgflex {
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& POST HERO */
#post-hero-title-container {
  font-size: 3rem;
  text-align: center;
  line-height: 10rem;
}

#post-hero-title {
  font-size: 3.6rem;

  margin-top: 9.6rem;
}

.arrow {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HOW TO LISTS */

#how-to-lists-container {
  font-size: 2.4rem;

  margin: 0rem 6rem 5rem 6rem;

  display: flex;
  justify-content: space-between;
  gap: 5rem;
}


.how-to-lists {
  width: 100%;
  
  font-size: 3.6rem;
  
  background-color: #b3f8dc;
  
  padding-top: 3rem;
  padding-bottom: 3rem;
  
  margin-bottom: 3.2rem;
  
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&& CAROUSEL */


.carousel-container {
  background-color: #f7a1c5;
  width: 120rem;
  height: 40rem;
  margin: 10rem auto;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.5rem;
  position: relative;
  margin-bottom: 5.6rem;
}

.testimonial-img {
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  transform: scale(0.75);
}

.testimonial-text {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-right: 3rem;
  line-height: 5rem;
}

.testimonial-name {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}
.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
}

.carousel-button {
  height: 5rem;
  width: 5rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  position: absolute;
  background-color: #7df4c2;
}

.carousel-button:hover {
  background-color: #22ec98;
}

.carousel-button-left {
  left: 0;
  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;
  transform: translate(50%);
}

.carousel-dots-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 6.4rem;
  align-items: center;
}

.carousel-dot {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #f7a1c5;
  border: 0.3rem solid;
  cursor: pointer;
}

.selected-dot {
  background-color: #22ec98;
  width: 1.6rem;
  height: 1.6rem;
}

.ready-button-container {
  text-align: center;
  margin-bottom: 10rem;
}

.ready-button {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  background-color: #7df4c2;
}

.ready-button:hover {
  background-color: #f47dae;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& FOOTER */

footer {
  font-size: 2.4rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: #343a40;
}




/*
FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98

WHITE SPACE SCALE
2 4 8 12 16 24 32 48 64 80 96 128


TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4
BACKGROUND
#e9fdf5
SUPER LIGHT
#d7fcec
LIGHT
#c5fae4
MEDIUM-LIGHT
#b3f8dc
MEDIUM
#a1f7d3
HARD
#7df4c2
TOP HARD
#59f1b2
DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db
BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5
X
#f58fb9
HARD
#f47dae
TOP HARD
DEATH STRONG
*/