/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

/*
TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4

BACKGROUND
#e9fdf5

SUPER LIGHT
#d7fcec

LIGHT
#c5fae4

MEDIUM-LIGHT
#b3f8dc

MEDIUM
#a1f7d3

HARD
#7df4c2

TOP HARD
#59f1b2

*/

/*UNIVERSAL SELECTOR */

* /* * ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++ */

/* &&&&&&&&&&&&&&&&&&&&&&&&& ELEMENTS */


* {
  margin: 0;
  padding: 0;
  font-style: none;
  box-sizing: border-box;
}

/* ELEMENTS */

body {
  /* font-family: Verdana; */
  font-family: 'work sans', verdana;
  /* background-color: rgba(0, 255, 255, 0.087); */
  background-color: #e9fdf5;

}

h4 {
  font-size: 44px;
}

button {
  cursor: pointer;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.main-header {
  font-size: 24px;

  padding-top: 16px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #d7fcec;
}

.logo-box {
  font-family: verdana;
  font-size: 52px;

  padding: 5px;
  padding-right: 15px;
  border: 3px solid;
  box-shadow: 10px 10px;

  display: flex;
  align-items: baseline;

  background-color: #e9fdf5;

  /* translate: -80px 0px; */
}

#logo-a {
  font-size: 26px;
}
#logo-b {
  font-size: 32px;
}
#logo-c {
  font-size: 38px;
}

.main-header-buttons {
  font-size: 24px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: #e3fafc;
}

.main-header-buttons:hover {
  background-color: #7df4c2;
  transition: 0.3s;
}

#sign-up-button {
  background-color: #a1f7d3;
}

#sign-up-button:hover {
  background-color: #59f1b2;
}

#button-area {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  translate: 90px 0px;
}

.question {
  translate: 0px 35px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

.hero {
  margin-top: 50px;
  height: 300px;
  display: flex;
  justify-content: center;
}

#left-hero {
  margin-left: 40px;
  margin-right: 700px;

  font-size: 30px;

  width: 100%;
  border: 3px solid;
  box-shadow: 10px 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 40px;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  /* background-color: aquamarine; */
  background-color: #b3f8dc;
}

#right-hero {
  font-size: 30px;

  width: 100%;

  display: none;
  align-items: flex-end;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 40px;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  background-color: rgb(255, 127, 127);
}





/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 1 */
#section1 {
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

#section1c {
  margin-top: 40px;
  font-size: 36px;
}

.section-button {
  font-size: 24px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: #d7fcec;
}

.section-button:hover {
  background-color: #59f1b2;
  transition: 0.3s;
}





/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 2 */

#section2 {
  font-size: 24px;
  /* margin-bottom: 50px; */
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.tab {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 3px solid;
  align-items: center;
  background-color: #b3f8dc;
  box-shadow: 10px 10px;
}

.arrow {
  /* margin-top: 150px; */
  text-align: center;
  font-size: 40px;
}




/* &&&&&&&&&&&&&&&&&&&&&&&&& FOOTER */

footer {
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.abc {
  text-align: center;
  margin-bottom: 100px;
}








/*
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
*/

.main-profile {
  font-size: 30px;
}

#alias {
  text-align: center;
  margin-top: 30px;
  /* text-decoration: underline; */
  margin-bottom: 70px;
  font-size: 44px;
}

.goal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.goal {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.gridcheckbox {
  height: 30px;
  width: 30px;
}

/* .upper {
  text-transform: uppercase;
} */