/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

/* SCALE
2 4 8 12 16 24 32 48 64 80 96 128 */

/*
TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4

BACKGROUND
#e9fdf5

SUPER LIGHT
#d7fcec

LIGHT
#c5fae4

MEDIUM-LIGHT
#b3f8dc

MEDIUM
#a1f7d3

HARD
#7df4c2

TOP HARD
#59f1b2

DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db

BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5

X
#f58fb9

HARD
#f47dae
TOP HARD

DEATH STRONG


BACKGROUND
SUPER LIGHT
LIGHT
MEDIUM-LIGHT
MEDIUM
HARD
TOP HARD
DEATH STRONG

*/

/*UNIVERSAL SELECTOR */

* /* * ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++ */

/* &&&&&&&&&&&&&&&&&&&&&&&&& ELEMENTS */


* {
  margin: 0;
  padding: 0;
  font-style: none;
  box-sizing: border-box;
}

/* ELEMENTS */

body {
  /* font-family: Verdana; */
  font-family: "work sans", verdana;
  /* background-color: rgba(0, 255, 255, 0.087); */
  background-color: #e9fdf5;
  color: #212529;
  border-bottom: 5px solid #7df4c2;
}

h4 {
  font-size: 52px;
}

button {
  cursor: pointer;
  color: #212529;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.main-header {
  font-size: 24px;

  padding-top: 24px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #d7fcec;
}

.logo-box {
  font-family: verdana;
  font-size: 52px;

  padding: 5px;
  padding-right: 15px;
  border: 3px solid;
  box-shadow: 10px 10px;

  display: flex;
  align-items: baseline;

  background-color: #a1f7d3;

  cursor: pointer;

  /* translate: -80px 0px; */
}

#logo-a {
  font-size: 26px;
}
#logo-b {
  font-size: 32px;
}
#logo-c {
  font-size: 38px;
}

.main-header-buttons {
  font-size: 24px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  /* background-color: #e3fafc; */
  background-color: #fac5db;
}

.main-header-buttons:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

#sign-up-button {
  background-color: #f47dae;
}

#sign-up-button:hover {
  background-color: #22ec98;
}

#button-area {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  translate: 180px 0px;
}

.question {
  translate: 0px 65px;
  padding: 0px 10px 10px 10px;
  margin-right: 60px;
  font-weight: 700;
  /* text-decoration: underline; */
  cursor: pointer;
  border: 3px solid;
  box-shadow: 7px 7px;
  height: 34px;
  background-color: #fde9f1;
}

.question:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

#movida {
  translate: 0px 20px;
}

.hero {
  margin-top: 96px;
  margin-bottom: 90px;
  height: 410px;
  display: flex;
  justify-content: center;
  /* align-items: cen; */
}

.hero2 {
  /* margin-top: 50px; */
  height: 330px;
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

#left-hero {
  margin-left: 10px;
  /* margin-right: 70px; */
  width: 500px;

  font-size: 52px;

  /* width: 100%; */
  border: 3px solid;
  box-shadow: 7px 7px;
  line-height: 70px;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  /* background-color: aquamarine; */
  background-color: #a1f7d3;
}

#right-hero {
  margin-left: 40px;
  margin-right: 50px;
  /* margin-top: 30px; */
  padding-top: 25px;

  font-size: 30px;

  width: 100%;
  border: 3px solid;
  box-shadow: 7px 7px;

  display: grid;
  justify-content: space-around;
  /* align-items: flex-start; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  background-color: #fac5db;
  justify-items: center;
}

#thisisatitle {
  font-size: 62px;
  font-weight: 500;
  justify-self: center;
  grid-column: 1 / span 3;
}

#span {
  /* display: flex; */
  /* justify-content: center; */
  justify-self: center;
  grid-column: 2 / span 2;
  /* margin-left: 30px; */
  font-weight: 700;
}

#img1 {
  margin-top: 50px;
  width: 150px;
}

#img2 {
  width: 100px;
  height: auto;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 1 */
#section1 {
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

#section1c {
  margin-top: 96px;
  font-size: 36px;
}

.section-button {
  font-size: 24px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: #f7a1c5;
}

.section-button:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& IMAGES */

#imageContainer {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  height: 280px;
}

.imgflex {
  border: 3px solid;
  box-shadow: 7px 7px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 2 */

#section2 {
  font-size: 24px;
  /* margin-bottom: 50px; */
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.icon {
  height: 40px;
  translate: 2px 8px;
}

.tab {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 3px solid;
  align-items: center;
  background-color: #b3f8dc;
  box-shadow: 7px 7px;
  font-size: 36px;
}

.arrow {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& CAROUSEL */
/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

.carousel {
  background-color: #f7a1c5;
  width: 1200px;
  height: 400px;
  margin: 100px auto;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 3px solid;
  box-shadow: 7px 5px;
  position: relative;
  margin-bottom: 56px;
}

.testimonial-img {
  border: 3px solid;
  box-shadow: 10px 10px;
  transform: scale(0.75);
}

.testimonial-text {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 30px;
  line-height: 50px;
}

.testimonial-name {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 700;
}
.testimonial-description {
  font-size: 20px;
  font-weight: 500;
}

.carousel-button {
  height: 50px;
  width: 50px;
  border: 3px solid;
  box-shadow: 10px 10px;
  position: absolute;
  background-color: #7df4c2;
}

.carousel-button:hover {
  background-color:#22ec98;
}

.carousel-button-left {
  left: 0;
  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;
  transform: translate(50%);
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 64px;
  align-items: center;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: #f7a1c5;
  border: 3px solid;
  cursor: pointer;
}

.selected-dot {
  background-color: #22ec98;
  width: 16px;
  height: 16px;
}

.ready-button {
  font-size: 24px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: #7df4c2;
}

.ready-button:hover {
  background-color: #f47dae;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& FOOTER */

footer {
  font-size: 24px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #343a40;
}

.abc {
  text-align: center;
  margin-bottom: 100px;
}

/*
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
*/

.main-profile {
  font-size: 30px;
}

#alias {
  text-align: center;
  margin: 64px 64px;
  font-size: 44px;
}

.add-goal-action {
  width: 600px;
  display:block;
  font-size: 24px;
  margin: 48px auto 100px;
  background-color:#fde9f1;
  /* border-radius: 30px; */
  padding: 2px 10px;
  border: 1px solid;
  box-shadow: 5px 5px;
  cursor: pointer;
  display: none;
}

.add-goal-action-v2 {
  cursor: pointer;
  background-color:#fde9f1;

}

.dummy-goal {
  cursor: pointer;
  background-color:#fde9f1;
}

.h2-profile {
  text-align: center;
  margin-bottom: 60px;
  text-decoration: underline;
}

.h3-profile {
  margin-bottom: 50px;
  text-align: center;
}

.add-goal-action:hover {
  background-color: #7df4c2;
}

.profile-table {
  width: 1100px;
  background-color:#d7fcec;
  margin: 0px auto 75px auto;
  border: 2px solid;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color:#c5fae4;
}

th,
td {
  border: 2px solid;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

th {
  background-color: #fac5db;
}

.table-top {
  background-color: #f7a1c5;
}

.table-goal {
  text-align: left;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: none;
}

.table-checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .goal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.goal {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.gridcheckbox {
  height: 30px;
  width: 30px;
} */

/* .upper {
  text-transform: uppercase;
} */

/* * ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++ */

.about-main {
  margin-top: 96px;
  font-size: 30px;
  margin-bottom: 50px;
  color: #212529;
}

.about-hero {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.about-hero-left {
  height: 500px;
  width: 1600px;
  background-color: #212529;
}

.about-hero-right {
  font-size: 52px;
  /* height: 500px; */
  /* background-color: red; */
}

.faq-cont1 {
  width: 800px;
  height: 90px;
  margin-left: 100px;
  /* margin-bottom: 10px; */
  display: grid;
  grid-template-columns: 100px 650px 1fr;
  /* justify-content: space-between; */
  /* column-gap: 50px; */
  /* gap: 30px; */
  align-items: center;
  background-color: #fde9f1;
  border: 3px solid;
  box-shadow: 00px 00px;
  margin-bottom: 1px;
}

.faq-number {
  margin-left: 35px;
  font-size: 38px;
  margin-right: 20px;
  font-weight: 100;
}

.faq-question {
  /* font-weight: 100; */
  justify-self: left;
}

.faq-icon {
  height: 36px;
  margin-right: 26px;
  /* justify-self: flex-end; */
  text-align: end;
}

.faq-cont2 {
  font-size: 24px;

  margin-left: 140px;
  background-color: #fac5db;
  border: 3px solid #212529;
  box-shadow: 10px 10px;
  margin-right: 90px;
  /* padding-left: 50px; */
  padding: 15px 0px 15px 50px;
  margin-bottom: 11px;
  transition: 0.5s;
  /* display: none; */
}

.open-question {
  /* background-color: #fac5db; */
  translate: 0 10px;
  z-index: -1;
  font-weight: 700;
  /* display: none; */
}

.open-answer {
  background-color: #fac5db;
  z-index: 2;
  position: relative;
  font-weight: 500;
  /* display: none; */
}

.open-number {
  font-weight: 700;
}

/*
TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4

BACKGROUND
#e9fdf5

SUPER LIGHT
#d7fcec

LIGHT
#c5fae4

MEDIUM-LIGHT
#b3f8dc

MEDIUM
#a1f7d3

HARD
#7df4c2

TOP HARD
#59f1b2

DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db

BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5

X
#f58fb9

HARD
#f47dae
TOP HARD


/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

/* SCALE
2 4 8 12 16 24 32 48 64 80 96 128 */
