/* UNIVERSAL SELECTOR */

* {
  margin: 0;
  padding: 0;
  font-style: none;
  box-sizing: border-box;
}

/* ELEMENTS */

body {
  font-family: Verdana, sans-serif;
    background-color: rgba(0, 255, 255, 0.087);
}

h4 {
  font-size: 40px;
}

/* HEADER */

.main-header {
  font-size: 26px;

  padding-top: 16px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: rgba(0, 255, 255, 0.204);
}

.logo-box {
  font-size: 50px;

  padding: 5px;
  padding-right: 15px;
  border: 3px solid;
  box-shadow: 10px 10px;

  display: flex;
  align-items: baseline;

  background-color: aliceblue;

  translate: -80px 0px;
}

#logo-a {
  font-size: 26px;
}
#logo-b {
  font-size: 32px;
}
#logo-c {
  font-size: 38px;
}

.main-header-buttons {
  font-size: 22px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: aliceblue;
}

.main-header-buttons:hover {
  background-color: rgb(182, 221, 255);
  transition: 0.5s;
}

#sign-up-button {
  background-color: rgb(198, 228, 255);
}

#button-area {
  display: flex;
  gap: 100px;
  translate: 50px 0px;
}

/* HERO */

.hero {
  margin-top: 50px;
  height: 300px;
  display: flex;
  justify-content: center;
}

#left-hero {
  margin-left: 40px;
  margin-right: 700px;

  font-size: 30px;

  width: 100%;
  border: 3px solid;
  box-shadow: 10px 10px;

  display: flex;
flex-direction: column; 
gap: 10px;
 padding-left: 30px;
  padding-bottom: 40px;
  padding-top: 60px;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  background-color: aquamarine;
}

#right-hero {
  font-size: 30px;

  width: 100%;

  display: none;
  align-items: flex-end;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 40px;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  background-color: rgb(255, 127, 127);
}

/* SECTION 1 */
#section1 {
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

#section1c {
  margin-top: 40px;
  font-size: 40px;
}

.section-button {
  font-size: 26px;
  font-family: Verdana, sans-serif;

  padding: 10px;
  border: 3px solid;
  box-shadow: 10px 10px;

  background-color: aliceblue;
}


/* SECTION 2 */

#section2 {
  font-size: 26px;
  /* margin-bottom: 50px; */
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;  
  margin-bottom: 50px;

}

.tab {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 3px solid;
  align-items:center;
  background-color: rgba(0, 255, 255, 0.204);


}

.arrow {
  /* margin-top: 150px; */
  text-align: center;
font-size: 40px;}

/* FOOTER */

footer {
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.abc {
  text-align: center;
  margin-bottom: 100px;

}