/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

/* SCALE
2 4 8 12 16 24 32 48 64 80 96 128 */

/*
TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4

BACKGROUND
#e9fdf5

SUPER LIGHT
#d7fcec

LIGHT
#c5fae4

MEDIUM-LIGHT
#b3f8dc

MEDIUM
#a1f7d3

HARD
#7df4c2

TOP HARD
#59f1b2

DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db

BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5

X
#f58fb9

HARD
#f47dae
TOP HARD

DEATH STRONG


BACKGROUND
SUPER LIGHT
LIGHT
MEDIUM-LIGHT
MEDIUM
HARD
TOP HARD
DEATH STRONG

*/

/*UNIVERSAL SELECTOR */

/*
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ INDEX ++++++++++++++++++++++++++++++++++++++++++++
*/

/* &&&&&&&&&&&&&&&&&&&&&&&&& ELEMENTS */

* {
  margin: 0;
  padding: 0;
  font-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: Verdana; */
  font-family: "work sans", verdana;
  /* background-color: rgba(0, 255, 255, 0.087); */
  background-color: #e9fdf5;
  color: #212529;
  border-bottom: 0.5rem solid #7df4c2;
}

h4 {
  font-size: 5.2rem;
}

button {
  cursor: pointer;
  color: #212529;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HEADER */

.main-header {
  font-size: 2.4rem;

  padding-top: 2.4rem;
  padding-bottom: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #d7fcec;
}

.logo-box {
  font-family: verdana;
  font-size: 5.2rem;

  padding: 0.5rem;
  padding-right: 1.5rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: flex;
  align-items: baseline;

  background-color: #a1f7d3;

  cursor: pointer;

  /* translate: -80px 0px; */
}

#logo-a {
  font-size: 2.6rem;
}
#logo-b {
  font-size: 3.2rem;
}
#logo-c {
  font-size: 3.8rem;
}

.main-header-buttons {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  /* background-color: #e3fafc; */
  background-color: #fac5db;
}

.main-header-buttons:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

#sign-up-button {
  background-color: #f47dae;
}

#sign-up-button:hover {
  background-color: #22ec98;
}

#button-area {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  translate: 18rem 0rem;
}

.question {
  translate: 0rem 6.5rem;
  padding: 0rem 1rem 1rem 1rem;
  margin-right: 6rem;
  font-weight: 700;
  /* text-decoration: underline; */
  cursor: pointer;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  height: 3.4rem;
  background-color: #fde9f1;
}

.question:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& HERO */

#movida {
  translate: 0rem 2rem;
}

.hero {
  margin-top: 9.6rem;
  margin-bottom: 9rem;
  height: 41rem;
  display: flex;
  justify-content: center;
  /* align-items: cen; */
}

.hero2 {
  /* margin-top: 50px; */
  height: 33rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-top: 5rem;
}

#left-hero {
  margin-left: 1rem;
  /* margin-right: 70px; */
  width: 50rem;

  /* font-size: 52px; */
  font-size: 5.2rem;

  /* width: 100%; */
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
  line-height: 7rem;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  padding-left: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  /* padding-top: 100px;
  padding-bottom: 100px; */

  /* flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1; */

  /* background-color: aquamarine; */
  background-color: #a1f7d3;
}

#right-hero {
  margin-left: 4rem;
  margin-right: 5rem;
  /* margin-top: 30px; */
  padding-top: 2.5rem;

  font-size: 3rem;

  width: 100%;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;

  display: grid;
  justify-content: space-around;
  /* align-items: flex-start; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  background-color: #fac5db;
  justify-items: center;
}

#thisisatitle {
  font-size: 6.2rem;
  font-weight: 500;
  justify-self: center;
  grid-column: 1 / span 3;
}

#span {
  /* display: flex; */
  /* justify-content: center; */
  justify-self: center;
  grid-column: 2 / span 2;
  /* margin-left: 30px; */
  font-weight: 700;
}

#img1 {
  margin-top: 5rem;
  width: 15rem;
}

#img2 {
  width: 10rem;
  height: auto;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 1 */
#section1 {
  text-align: center;
  line-height: 10rem;
  font-size: 3rem;
}

#section1c {
  margin-top: 9.6rem;
  font-size: 3.6rem;
}

.section-button {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  background-color: #f7a1c5;
}

.section-button:hover {
  background-color: #22ec98;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& IMAGES */

#imageContainer {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  height: 28rem;
}

.imgflex {
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.7rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& SECTION 2 */

#section2 {
  font-size: 2.4rem;
  /* margin-bottom: 50px; */
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}

.icon {
  height: 4rem;
  translate: 0.2rem 0.8rem;
}

.tab {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  border: 0.3rem solid;
  align-items: center;
  background-color: #b3f8dc;
  box-shadow: 0.7rem 0.7rem;
  font-size: 3.6rem;
}

.arrow {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& CAROUSEL */
/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

.carousel {
  background-color: #f7a1c5;
  width: 120rem;
  height: 40rem;
  margin: 10rem auto;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.3rem solid;
  box-shadow: 0.7rem 0.5rem;
  position: relative;
  margin-bottom: 5.6rem;
}

.testimonial-img {
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  transform: scale(0.75);
}

.testimonial-text {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-right: 3rem;
  line-height: 5rem;
}

.testimonial-name {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}
.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
}

.carousel-button {
  height: 5rem;
  width: 5rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
  position: absolute;
  background-color: #7df4c2;
}

.carousel-button:hover {
  background-color: #22ec98;
}

.carousel-button-left {
  left: 0;
  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;
  transform: translate(50%);
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 6.4rem;
  align-items: center;
}

.dot {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #f7a1c5;
  border: 0.3rem solid;
  cursor: pointer;
}

.selected-dot {
  background-color: #22ec98;
  width: 1.6rem;
  height: 1.6rem;
}

.ready-button {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  background-color: #7df4c2;
}

.ready-button:hover {
  background-color: #f47dae;
  transition: 0.3s;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&& FOOTER */

footer {
  font-size: 2.4rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: #343a40;
}

.abc {
  text-align: center;
  margin-bottom: 10rem;
}

/*
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ PROFILE ++++++++++++++++++++++++++++++++++++++++++++

*/

.id-salute {
  display: flex;
  font-size: 3.6rem;
  align-self: flex-end;
}

#id-profile {
  font-weight: 700;
}

.guide {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;

  padding: 1rem;
  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  background-color: #e3fafc;
  background-color: #f47dae;
  transition: 0.2s;
}

.guide:hover {
  background-color: #22ec98;
}

.main-profile {
  font-size: 3rem;
}

#alias {
  text-align: center;
  margin: 6.4rem 6.4rem;
  font-size: 4.4rem;
}

.add-goal-action {
  width: 60rem;
  display: block;
  font-size: 2.4rem;
  margin: 4.8rem auto 10rem;
  background-color: #fde9f1;
  /* border-radius: 30px; */
  padding: 0.2rem 1rem;
  border: 0.1rem solid;
  box-shadow: 0.5rem 0.5rem;
  cursor: pointer;
  display: none;
}

.profile-header {
  padding-bottom: 4rem;
}

.add-goal-action-v2 {
  cursor: pointer;
  background-color: #fde9f1;
}

.add-goal-action-v2:hover {
  background-color: #f47dae;
  transition: 0.2s;
}

.dummy-goal {
  background-color: #fde9f1;
}

.h2-profile {
  text-align: center;
  margin: 6rem auto;
  text-decoration: underline;
}

.h3-profile {
  padding: 2.9rem 0rem 3.9rem 0rem;
  text-align: center;
  font-size: 4.4rem;
  /* text-decoration: underline; */
  background: linear-gradient(#fde9f1, #e9fdf5);
  /* border-bottom: 2px solid black; */
  border-top: 0.2rem solid;
  /* border-collapse: collapse; */
  /* color: linear-gradient(to red); */
}

.add-goal-action:hover {
  background-color: #7df4c2;
}

.profile-table {
  width: 110rem;
  background-color: #d7fcec;
  margin: 0rem auto 8rem auto;
  border: 0.2rem solid;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #c5fae4;
}

th,
td {
  border: 0.2rem solid;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}

th {
  background-color: #fac5db;
}

.drag-icon {
  height: 4.2rem;
  width: 4.2rem;
  translate: -0rem 0.3rem;
}

.drag-cell {
  cursor: grab;
  background-color: #fde9f1;
  padding: 0;
}
.drag-cell:hover {
  cursor: grab;
  background-color: #f47dae;
  padding: 0;
  transition: 0.1s;
}

.table-top {
  background-color: #f7a1c5;
}

.table-goal {
  text-align: left;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: none;
}

.table-checkbox {
  height: 2rem;
  width: 2rem;
  cursor: pointer;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .goal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.goal {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.gridcheckbox {
  height: 30px;
  width: 30px;
} */

/* .upper {
  text-transform: uppercase;
} */

/*
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
* ++++++++++++++++++++++++++ ABOUT ++++++++++++++++++++++++++++++++++++++++++++
*/

.about-main {
  margin-top: 9.6rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #212529;
}

.about-hero {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.about-hero-left {
  height: 50rem;
  width: 160rem;
  background-color: #212529;
}

.about-hero-right {
  font-size: 5.2rem;
  /* height: 500px; */
  /* background-color: red; */
}

.faq-cont1 {
  width: 80rem;
  height: 9rem;
  margin-left: 10rem;
  /* margin-bottom: 10px; */
  display: grid;
  grid-template-columns: 10rem 65rem 1fr;
  /* justify-content: space-between; */
  /* column-gap: 50px; */
  /* gap: 30px; */
  align-items: center;
  background-color: #fde9f1;
  border: 0.3rem solid;
  box-shadow: 0rem 0rem;
  margin-bottom: 0.1rem;
}

.faq-number {
  margin-left: 3.5rem;
  font-size: 3.8rem;
  margin-right: 2rem;
  font-weight: 100;
}

.faq-question {
  /* font-weight: 100; */
  justify-self: left;
}

.faq-icon {
  height: 3.6rem;
  margin-right: 2.6rem;
  /* justify-self: flex-end; */
  text-align: end;
}

.faq-cont2 {
  font-size: 2.4rem;

  margin-left: 14rem;
  background-color: #fac5db;
  border: 0.3rem solid #212529;
  box-shadow: 1rem 1rem;
  margin-right: 9rem;
  /* padding-left: 50px; */
  padding: 1.5rem 0rem 1.5rem 5rem;
  margin-bottom: 1.1rem;
  transition: 0.5s;
  /* display: none; */
}

.open-question {
  /* background-color: #fac5db; */
  translate: 0 1rem;
  z-index: -1;
  font-weight: 700;
  /* display: none; */
}

.open-answer {
  background-color: #fac5db;
  z-index: 2;
  position: relative;
  font-weight: 500;
  /* display: none; */
}

.open-number {
  font-weight: 700;
}

/*
TINTS OF THE GREEN - https://www.colorhexa.com/c5fae4

BACKGROUND
#e9fdf5

SUPER LIGHT
#d7fcec

LIGHT
#c5fae4

MEDIUM-LIGHT
#b3f8dc

MEDIUM
#a1f7d3

HARD
#7df4c2

TOP HARD
#59f1b2

DEATH STRONG
#22ec98

TINTS OF THE PINK - https://www.colorhexa.com/fac5db

BACKGROUND
SUPER LIGHT
#fde9f1
LIGHT
#fcd7e6
MEDIUM-LIGHT
#fac5db
MEDIUM
#f7a1c5

X
#f58fb9

HARD
#f47dae
TOP HARD


/* FONT SCALE
10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 */

/* SCALE
2 4 8 12 16 24 32 48 64 80 96 128 */
