.d1 {
  background-color: rgb(7, 120, 234);
  height: 100px;
  width: 100px;
  border: 5px solid;

  z-index: 1;
}

.d2 {
  background-color: rgb(240, 0, 0);
  height: 100px;
  
  width: 100px;
  border: 5px solid;
  
  z-index: -1;

  translate: 15px -30px;
}
