.d1 {
  background-color: rgb(7, 120, 234);
  height: 100px;
  width: 100px;
  border: 5px solid;

  z-index: 1;
}


.d2 {
  background-color: rgb(240, 0, 0);
  height: 100px;
  
  width: 100px;
  border: 5px solid;
  
  z-index: -1;

  translate: 15px -30px;
  position: relative;
} 

.div1 {
  
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.link1:link,
.link1:visited {
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.test {
  background-color: red;
}

#test {
  background-color: red;
}

.link2:link,
.link2:visited {
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: none;
}

#experiment1 {
  display: none;
}

/****************************** EXPERIMENT 2 */

.x2-flex-container {
  max-width: 800px;
  display: flex;
}

.x2-div1 {
  background-color: #fac5db;
  width: 100px;
}

.x2-div2 {
  width: 100px;
  background-color:blue;
}

.x2-div3 {
  width: 100px;
  background-color:brown;
}

#experiment2 {
  display: none;
}

/****************************** EXPERIMENT 3 */
body {
  font-size: 30px;
}
.button-area-1 {
  text-align: center;
  background-color: blueviolet;
  padding-left: 90px;
}
.button-area-2 {
  display: flex;
  justify-content:space-around;
  background-color:aqua;
  padding-right: 80px;
}

.x3-container {
  display: none;
  grid-template-columns: 1fr 1fr;
} 

/****************************** EXPERIMENT 4 */

.x4-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.x4-a {
  height: 50px;
  width: 50px;
  background-color: black;
}
.x4-b {
  height: 50px;
  width: 50px;
  background-color: black;
}

.x4-a:hover + .x4-b {
  background-color: red;
}

/****************************** EXPERIMENT 5 */

#header {
  background: red;
  padding: 10px 0;
  position: relative;
  transition: all 1s linear;
  left:0;
}

#header.transition {
  background: green;
  left: 50px;
}