.d1 {
  background-color: rgb(7, 120, 234);
  height: 100px;
  width: 100px;
  border: 5px solid;

  z-index: 1;
}

.d2 {
  background-color: rgb(240, 0, 0);
  height: 100px;
  
  width: 100px;
  border: 5px solid;
  
  z-index: -1;

  translate: 15px -30px;
  position: relative;
} 

.div1 {
  
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.link1:link,
.link1:visited {
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.test {
  background-color: red;
}

#test {
  background-color: red;
}

.link2:link,
.link2:visited {
  font-family: Verdana, sans-serif;
  font-size: 2.4rem;
  
  background-color: #fac5db;

  padding: 1rem;
  margin-bottom: 150px;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  display: none;
}